.branch__results:before, .branch:before, .branch__search:before, .branch__day:before, .branch__day__title:before, .branch__results:after, .branch:after, .branch__search:after, .branch__day:after, .branch__day__title:after {
  display: table;
  content: " ";
}
.branch__results:after, .branch:after, .branch__search:after, .branch__day:after, .branch__day__title:after {
  clear: both;
}

button::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner {
  padding: 0 !important;
  box-sizing: content-box !important;
  border: 0 none !important;
}

[class*="button"], [class*="button"][class*="primary"], [class*="button"][class*="positive"], [class*="button"][class*="negative"] {
  display: inline-block;
  padding: 0 10px;
  margin: 5px;
  padding: 5px 11px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #141419;
  font-size: 15px;
  line-height: 22px;
  text-decoration: none;
}

[class*="button"]:hover {
  color: #141419;
  background: #ddd;
  text-decoration: none;
}

.link {
  padding: 0;
  background: none;
  border: none;
  color: blue;
  text-decoration: none;
}

[class*="button"]:hover {
  background: #f2f2f2;
}

[class*="button"][class*="primary"] {
  color: #fff;
  background: #337ab7;
  border: 1px solid #285f8f;
}

[class*="button"][class*="primary"]:hover {
  background: #285f8f;
}

[class*="button"][class*="positive"] {
  color: #fff;
  background: #5cb85c;
  border: 1px solid #449d44;
}

[class*="button"][class*="positive"]:hover {
  background: #449d44;
}

[class*="button"][class*="negative"] {
  color: #fff;
  background: #c9302c;
  border: 1px solid #9f2623;
}

[class*="button"][class*="negative"]:hover {
  background: #9f2623;
}

[class*="buttons"][class*="sm"] > .button,
[class*="button"][class*="sm"] {
  padding: 3px 8px;
  font-size: 13px;
  line-height: 19px;
}

[class*="buttons"][class*="lg"] > .button,
[class*="button"][class*="lg"] {
  padding: 7px 13px;
  font-size: 18px;
  line-height: 25px;
}

.buttons {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  flex-wrap: no-wrap;
  margin: 15px 0;
  border: none;
  padding: 0;
}

.buttons .button {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1 1 0;
  margin: 0;
  border-radius: 0px;
  border-right: 1px solid #ddd;
}

.buttons .button:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.buttons .button:nth-child(2), .buttons .button:nth-child(3), .buttons .button:nth-child(4) {
  border-left: none;
}

.buttons .button:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
}

.form__label {
  display: inline-block;
  margin: 0 0 10px;
  color: #141419;
  font-size: 14px;
  font-weight: 600;
}

.form__element {
  width: 100%;
  padding: 8px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #777;
  font-size: 13px;
  font-weight: 400;
  box-shadow: none;
}

.form__control {
  display: block;
  position: relative;
  padding: 15px 0;
}

.form__caps {
  position: relative;
}
.form__caps > .form__cap + .form__element {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form__caps > .form__element + .form__cap {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form__button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 6px 10px;
  margin: 0;
  background: #337ab7;
  border: 1px solid #2d6da3;
  border-radius: 0px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #fff;
  font-size: 12px;
}
.form__button:hover {
  background: #2d6da3;
  color: #fff;
}

.branch, .branch__directions, .branch__operation {
  position: relative;
  padding: 20px;
  border: 1px solid #ddd;
  background: #fff;
  transition: background 0.5s;
  border-radius: 4px;
}
.branch + .branch, .branch__directions + .branch, .branch__operation + .branch, .branch + .branch__directions, .branch__directions + .branch__directions, .branch__operation + .branch__directions, .branch + .branch__operation, .branch__directions + .branch__operation, .branch__operation + .branch__operation {
  margin: 10px 0 0;
}

.branch__results {
  margin: 30px 0;
}

.branch__details {
  margin: 0 0 10px 0;
}
.branch__details .branch {
  cursor: auto;
  opacity: 1;
}
.branch__details .branch:hover {
  background: transparent;
}

@media (min-width: 320px) {
  .branches {
    height: auto;
    padding: 0px;
    overflow-y: visible;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}
@media (min-width: 768px) {
  .branches {
    height: auto;
    padding: 0px;
    overflow-y: visible;
    border-radius: 0px;
    border: none;
    box-shadow: none;
  }
}
@media (min-width: 1024px) {
  .branches {
    height: 500px;
    padding: 10px;
    overflow-y: scroll;
    border-radius: 4px;
    border: 1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
  }
}

.branches__view .button.is-active {
  color: #fff;
  background: #337ab7;
}

.branch {
  cursor: pointer;
  transition: all 0.25s ease 0s;
}
.branch:hover, .branch.highlight {
  opacity: 1.0;
}
@media (min-width: 320px) {
  .branch {
    opacity: 1.0;
  }
}
@media (min-width: 768px) {
  .branch {
    opacity: 1.0;
  }
}
@media (min-width: 1024px) {
  .branch {
    opacity: 0.5;
  }
}

.branch__search .form__control {
  padding: 0 0 15px;
}

.branch__map {
  position: relative;
  height: 540px;
  margin: 0 0 15px 0;
  border: 1px solid #D9B1ED;
  border-radius: 4px;
  overflow: hidden;
}
@media (min-width: 320px) {
  .branch__map {
    height: 320px;
  }
}
@media (min-width: 768px) {
  .branch__map {
    height: 535px;
  }
}
@media (min-width: 1024px) {
  .branch__map {
    height: 535px;
  }
}

.branch__action {
  margin: 0 0 15px;
  font-size: 14px;
}
.branch__action i {
  margin: 0 2px 0 0;
}
.branch__action a {
  outline: none;
}

.branch__company {
  margin: 0px 0 3px 0;
  font-size: 16px;
  line-height: 22px;
  color: #333;
  font-weight: 600;
}

.branch__industry {
  font-size: 13px;
  color: #333;
  margin: 0 0 8px 0;
}

.branch__address {
  font-size: 12px;
  color: #777;
  margin: 0 0 6px 0;
  padding-right: 95px;
}

.branch__telephone a {
  font-size: 12px;
  outline: none;
}

.branch__distance {
  position: absolute;
  top: 73px;
  right: 20px;
  font-size: 12px;
  color: #777;
}

.branch__status {
  float: right;
  margin: 0 0 0 15px;
}

.branch__button {
  bottom: 20px;
  position: absolute;
  right: 20px;
  border: none;
  padding: 0;
  margin: 0;
}

.branch__directions .form__control {
  padding: 3px 0 10px;
}
.branch__directions .form__label {
  color: #333;
}

.branch__operating {
  margin: 0;
  padding: 0;
}

.branch__day {
  list-style: none;
  font-size: 12px;
  color: #aaa;
  padding: 12px 0;
}
.branch__day + .branch__day {
  border-top: solid 1px #ddd;
}
.branch__day.is-today {
  color: #333;
  font-weight: 600;
}
.branch__day > span:first-child {
  float: left;
}
.branch__day > span:last-child {
  float: right;
}
.branch__day__title {
  list-style: none;
  font-size: 14px;
  color: #333;
  font-weight: 600;
  padding: 12px 0;
  border-bottom: solid 1px #ddd;
}

.branches--short > div + div {
  margin: 10px 0 0 0;
}

.MicrosoftMap .pin,
.MicrosoftMap .cluster,
.MicrosoftMap .MapPushpinBase {
  background: #de008d;
  border-radius: 50%;
  opacity: 0.8;
  color: #fff;
  text-align: center;
  line-height: 19px;
  vertical-align: top;
  font-size: 10px;
  display: inline-block;
  z-index: 1;
  width: 20px !important;
  height: 20px !important;
}
.MicrosoftMap .pin:hover,
.MicrosoftMap .cluster:hover,
.MicrosoftMap .MapPushpinBase:hover {
  background: #ab006d;
}
.MicrosoftMap .pin img,
.MicrosoftMap .cluster img,
.MicrosoftMap .MapPushpinBase img {
  display: none;
}
.MicrosoftMap .pin img + div,
.MicrosoftMap .cluster img + div,
.MicrosoftMap .MapPushpinBase img + div {
  top: 1px !important;
  font-size: 12px !important;
}

.MicrosoftMap .branch {
  opacity: 1.0;
}

.MicrosoftMap .Infobox {
  height: auto !important;
  max-height: 300px;
  overflow-y: scroll;
}

.MicrosoftMap .Infobox .infobox-body {
  padding-bottom: 20px !important;
}

.MicrosoftMap .Infobox .infobox-body .infobox-info {
  padding: 0 !important;
}

.MicrosoftMap .Infobox .infobox-body .infobox-info .branch {
  border: none;
}

.MicrosoftMap .Infobox .infobox-body .infobox-info .branch + .branch {
  border-top: 1px solid #ddd;
}

.MicrosoftMap .Infobox .infobox-stalk {
  top: 141px !important;
}

.MicrosoftMap .Infobox .infobox-actions {
  border-top: none !important;
}

.infoxbox {
  position: relative;
  height: 200px;
  overflow-y: scroll;
  width: 240px;
  border-radius: 4px;
  border-bottom: 1px solid #ddd;
  z-index: 2;
}

.validate-msg {
  color: #d63b33;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}

@media (max-width: 1200px) {
  .branch > div:last-of-type {
    padding-bottom: 30px;
  }
}

/* Facets */
.facet a {
  color: black;
}

.facetbox .checkbox {
  padding: 0 0 5px 20px;
}

/* Salary Facet */
.facet--salary .input-group-addon {
  border-left: medium none;
  border-right: medium none;
  text-transform: lowercase;
}

.input-group.facet--salary {
  border: none;
}

.salary__frequency {
  margin: 0 0 8px;
}

.salary__validation {
  margin: 0 0 8px;
  float: left;
  width: 100%;
  clear: both;
}

.salary__text {
  float: left;
  margin-bottom: 8px;
}

.salary__menu {
  float: left;
}

.additional-toggle {
  margin-top: 5px;
}

.additional-toggle span {
  color: #de008d;
}

.faceted-search .facet-legend {
  color: #101559;
  display: block;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 8px;
}

/* 'Save Job' link */
#lnkSaveJob {
  color: #999;
}

.sso {
  position: relative;
  top: -120px;
}

/* Similar Jobs */
.similar-jobs .panel {
  position: relative;
}

.similar-jobs .panel-body {
  padding-bottom: 40px;
}

.simjob-view-btn {
  bottom: 15px;
  position: absolute;
  right: 15px;
}

.similar-jobs h4 {
  font-size: 16px;
}

/* Tags (Duplicate from SSP) */
.tag--default, .tag--dropdown {
  position: relative;
  display: inline-block;
  margin: 0 10px 10px 0;
}

.tag--default {
  -moz-user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857;
  padding: 6px 12px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  background-color: #fff;
  border-color: #ccc;
  color: #333;
  min-width: 173px;
}

.tag--default:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
}

.tag__label {
  display: inline-block;
  float: left;
  font-size: 14px;
  margin: 0 7px 0 0;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tag__sub-label {
  font-size: 12px;
  font-style: italic;
  color: #777;
  margin: 0 3px 0 0;
}

.tag__close {
  padding: 0;
  border: none;
  position: absolute;
  top: 0px;
  right: -10px;
  font-size: 20px;
  text-align: center;
  color: #777;
  width: 20px;
  background: #fff;
  border-radius: 100%;
}

.tag__close:hover {
  color: #d9534f;
}

/* Job Details */
.job-summary__match .progress .progress-bar span {
  color: black;
  position: absolute;
}

.forgot-password {
  padding: 11px 0;
  text-align: right;
}

.tablet--language {
  margin-left: -5.6em;
}

/* Hyphenate long words in the facets */
.facet-loadspinner + span {
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  /*display: block;
  word-break: break-all; */
}

/* April 21, 2015 */
#jobAlertTerms {
  position: relative;
  margin-left: 0;
}

/* 05/07/15 CIS Hotfix */
.actcool::before {
  content: " ";
  display: table;
}

.actcool::after {
  clear: both;
  content: " ";
  display: table;
}

/* ===========Slider Range============= */
.slider {
  position: relative;
}

.slider__value {
  float: left;
  width: 20%;
  display: inline-block;
  padding: 15px 0;
  text-align: center;
}

.ui-state-default {
  border-radius: 50% !important;
  height: 15px !important;
  width: 15px !important;
  margin-top: 1px;
  background-color: #16438d !important;
  background-image: none !important;
  border: none !important;
  cursor: pointer !important;
  transition: all 0.20s;
}

.ui-state-default:hover, .ui-state-default:focus {
  outline: none;
  border: none;
  background-color: #578de5 !important;
}

.ui-slider-horizontal {
  height: 6px !important;
  margin-top: 0px !important;
  background-image: none !important;
  background-color: #d7d7d7 !important;
  border: none !important;
}

.ui-slider-range {
  background-color: #1d58b9 !important;
  background-image: none !important;
  transition: all 0.20s;
}

.slider-label {
  border: 0;
  font-size: 16px;
  padding: 1em 0;
}

.pip__counter {
  margin-top: 1em;
  border: 0;
  letter-spacing: 20px;
  text-align: center;
  width: 100%;
  font-size: 62px;
}

.slider__path {
  margin-bottom: 1em;
}

.page-header {
  text-align: center;
}

/* ===========Slider Range End============= */
/* Create space between similar job title & viewbtn */
.similar-job-title + .simjob-view-btn-updated {
  margin-top: 10px;
}

.single-job .button-container {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  display: block;
  line-height: 0;
  margin-top: 10px;
  padding: 0;
}

.filter--show--quantity {
  display: inline;
  float: left;
  min-width: 220px;
}
.filter--show--quantity span {
  font-size: 15px;
  color: #777;
  font-weight: 400;
}
.filter--show--quantity span:first-child {
  margin: 0 5px 0 0;
}
.filter--show--quantity span:last-child {
  margin: 0 3px 0 0;
}
.filter--show--quantity select {
  width: 60px;
}

/*# sourceMappingURL=cms-sass.css.map */
