/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .container-content {
    position: relative;
    right: 0;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .container-content .sidebar-offcanvas {
    right: -85%;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 85%;
    display: none;
    background-color: #ccc;
  }

  .container-content.active {
    right: 85%;
  }

  .container-content.active .sidebar-offcanvas {
    display: block;
  }
}
