/*****************************************************************************************/
/*****************************************************************************************/
.Home .container-fluid { width: 988px; }
.Home #ModisUniverseBar + .container { padding-right: 15px !important; padding-left: 15px !important; margin-right: auto !important; margin-left: auto !important;/*display: inline-block; */
}
.Home .modal-backdrop { display: none !important; }
.Home .job-search-inner+div { display: none !important; }
.Home .site-header-controls .job-search-container { display: inline-block; width: 100%; margin-bottom: 0px; margin-top: 10px; }
.Home #utlSearch { float: right; margin-left: 20px; }
.Home #utlSearch #SearchTerm { background-color: #ffffff !important; min-height: 22px; color: #2c2c2c !important; font-size: 11px !important; }
.Home #utlSearch .search-input { border: none; }
.Home #utlSearch .search-icon { position: absolute; top: 4px; right: 6px; left: inherit; }
.Home #utlSearch .search-input-middle { margin-left: 0px; }
/*.Home #site-header .container:nth-child(2n) {padding-right: 15px !important;  padding-left: 15px !important;  margin-right: auto !important;  margin-left: auto !important;}*/

.Home .utility-nav-container li:first-child { display: none; }
.Home #ModisUniverseBar .container li:first-child { display: none; }
.Home #ModisUniverseBar li span { background-image: none; }
.Home .utility-nav-container a { color: #ffffff; }
.Home #siteSelector { background-color: #2c2c2c; }
.Home .wrap-navigation .nav-tabs a { font-size: 17px; color: #8bd3f5; }
.Home .wrap-navigation .nav-tabs a:hover { color: #ffffff; }
/*.Home .wrap-navigation .nav-tabs li:last-child { display: none; }*/
.Home .wrap-navigation .nav-tabs li { margin-left: 30px; }
.Home .job-search-keyword, .Home .job-search-location { width: 38.541666666667%; /*370px/960px*/ float: left; margin: 0px; }
.Home .one-column { background-color: #ffffff; }
.Home .job-search-keyword { margin-right: 1.5625%; }
.Home .job-search-location { margin-left: 1.5625%; margin-right: 1.5625%; }
.Home .job-search-search-btn { width: 16.145833333333%; float: left; margin-left: 1.5625%; margin-right: 0px; }
.Home .job-search-inner { width: 100%; display: inline-block; }
.Home #txtlocation, .Home #txtkeyword { min-height: 48px; font-size: 14px; color: #999999; }
.Home .btn-search { width: 100%; line-height: 34px; }
.Home .job-search-container .btn-search { font-size: 18px; background-color: #fbe80f; border-color: #fbe80f; color: #000000 !important;/*-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;*/
}
.Home .job-search-container .btn-search:hover { background: none !important; /*background-color: #fbe80f !important;
		border-color: #fbe80f !important;*/
		
background-color: #8bd3f5 !important; border-color: #8bd3f5 !important; }
.Home .ico-sprite, .Home .ico-black-carrot-right, .Home .job-search-container .btn-search:hover:after, .Home .ico-blue-carrot-right, .Home .ico-show-menu, .Home .ico-yellow-carrot-right, .Home .job-search-container .btn-search:after { background: url("") no-repeat scroll 0% 0% transparent; }
.Home .job-search-container { background-color: #000; }
.Home .wrap-navigation { clear: right; }
.Home .site-selector-container { margin-top: -50px; }
.Home .border-con { position: relative; z-index: 9;}
.Home .border-div { height: 3px; background-color: #545454; position: absolute; top: 88px; left: -100000px; z-index: 99999; display: block; width: auto; right: -100%; }
.Home .slider-2015 { width: 100%; text-align: center; display: inline-block; }
.Home .slider-2015 img { margin: 0 auto; }
/*.Home .social-links {display: none;} */
.Home .social-links { clear: right; margin-left: 68px; position: absolute; top: -26px; right: 80px; }
.Home .homeH1-subWrap { display: inline-block; clear: both; width: 100%; /*margin-top: 56px;*/
margin-top: 37px; }
.Home .btnLearnMore { background-color: #8bd3f5; font-family: "NeoSans-Medium", Arial, Helvetica; padding: 6px 20px; font-size: 16px; color: #000000 !important; text-decoration: none !important; text-transform: uppercase; /*  margin-bottom: 40px;*/
display: inline-block; margin-left: 44px; margin-bottom: 0px; float: left; margin-top: 20px; }
.Home .btnLearnMore:hover { background: #2f93cf; }
.Home .social-links .FollowUs { display: none; }
.Home .home-2015TitleH1 { color: #fbe80f; font-family: "NeoSansRegular", sans-serif; /*font-size: 32px;*/ font-size: 25px !important; margin: 0px; text-transform: uppercase; text-align: center; margin-bottom: 20px; }
.Home .home-2015-TitleH1 { color: #000; font-family: "NeoSansRegular", sans-serif; font-size: 32px; margin: 0px; text-align: center; margin-bottom: 20px; clear: both; }
.Home .home-2015-TitleH1 br { display: none !important; }
.Home .home-2015-SubTitleH2 { color: #000; font-family: "NeoSansRegular", sans-serif; font-size: 32px; margin: 0px; text-align: left; margin-bottom: 55px; /*  margin-left: 33%;*/
margin-left: 16.66666667%; }
.Home .home-2015-SubTitleH2 br { display: none !important; }
.Home .home-2015-SubTitleH2Contain { padding-left: 8px; }
.Home .job-search-container .job-search-title h2 { display: none; }
.Home .subHeadline { font-family: "NeoSansRegular", sans-serif; font-size: 16px; text-align: center; color: #ffffff; }
.Home .job-search-container .job-search-title { border-bottom: 0px solid #000000; border: none; display: none; }
.Home .job-search-container .btn-search:after { content: ">" !important; color: #000000 !important; font-size: 20px; line-height: 26px; margin-right: -10px; padding-right: 38px; }
.Home .outer { position: relative; /*width: 500px;*/
float: left; /*width: 32.631578947368%;*/
width: 32.031578947368%; margin: 0px 0.5263157894735%; }
.Home .inner { height: 278px !important; border: 1px solid #8bd3f5; background-color: #8bd3f5; }
.Home .outer:before, .Home .outer:after, .Home .inner:before, .Home .inner:after { position: absolute; background: #fff; content: " "; display: block; height: 30px; width: 30px; border-left: 1px solid #8bd3f5; }
/*.Home .outer:before {
	display:none !important;
}
*/
.Home .outer:after { display: none !important; }
.Home .inner:before { display: none !important; }
.Home .panel:before, .Home .scfForm:before, .Home .job-search-container:before { display: none !important; }
/*.Home .inner:after {
	display:none !important;
	
}*/
/*.Home .inner:before {
	left: -15px;
	top: -15px;
	transform: rotate(-135deg);
	-moz-transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	-o-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
*/
/*.Home .outer:after {
	right: -15px;
	bottom: -15px;
	transform: rotate(45deg);
	transform: rotate(45deg);
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
*/
.Home .inner:after { display: none !important; }
.Home .outer:before { display: none !important; }
.topLeftcaret { position: relative; }
.topLeftcaret:before { content: ''; position: absolute; top: -20px; left: 0; border-left: 20px solid #fff; border-top: 20px solid transparent; border-bottom: 20px solid transparent; }
.topLeftcaret:after { content: ''; position: absolute; left: 0; top: -20px; border-left: 19px solid #fff; border-top: 19px solid transparent; border-bottom: 19px solid transparent; }
/*bottomRightcaret*/
.bottomRightcaret { position: relative; }
.bottomRightcaret:before { content: ''; position: absolute; top: -20px; right: 0; border-right: 20px solid #fff; border-top: 20px solid transparent; border-bottom: 20px solid transparent; }
.bottomRightcaret:after { content: ''; position: absolute; right: 0; top: -20px; border-right: 19px solid #fff; border-top: 19px solid transparent; border-bottom: 19px solid transparent; }
/**/

/*.Home .JobResults {padding-left: 0px; padding-right: 0px;}
.Home .JobResults .job-wide .panel-body {padding-left: 0px; padding-right: 0px;}
*/
 @media (min-width: 992px) {
	 /*@media (max-width: 767px) {*/
	 /*@media (min-width: 768px) and (max-width: 979px) {*/
/*@media (min-width: 768px) {*/
.Home .JobResults {padding-left: 0px; padding-right: 0px;}
.Home .JobResults .job-wide .panel-body {padding-left: 0px; padding-right: 0px;}
}
.Home .JobResults .job-wide .panel-header { display: none; }
.Home .home-threeBlockButton { background-color: #1297d5; line-height: 28px; display: inline-block; padding: 2px 12px; color: #ffffff !important; text-transform: uppercase; font-family: "NeoSans-Medium", Arial, Helvetica; font-size: 13px; text-decoration: none !important; position: absolute; bottom: 20px; left: 15%; right: 15%; }
.Home .home-threeBlockButton:hover { background-color: #0879af; text-decoration: none !important; }
/*.Home .home-threeBlockButton:after {
  content: ">" !important;
  color: #000000 !important;
  font-size: 13px;

 }
*/
.Home .home-threeBlockButton:after { content: " >" !important; color: #fff !important; font-size: 14px; line-height: 26px; }
.Home .btnLearnMore:after { content: " >" !important; color: #000 !important; }
.Home .JobResults .job-wide h2 span { font-family: "NeoSans-Medium", Arial, Helvetica; color: #000000; font-size: 18px; line-height: 22px; margin-bottom: 12px; margin-top: 17px; text-transform: none; margin-right: 76px; display: inline-block; }
.Home .JobResults .new-job { font-family: "NeoSansMedium" !important; font-size: 14px !important; color: #000000 !important; background-color: #ffe512 !important; margin-top: -12px !important; text-transform: uppercase !important; padding: 7px 10px 5px; position: absolute; right: 0px; top: 34px; }
.Home .JobResults .job--meta-location { font-family: "NeoSansRegular", Arial, Helvetica; color: #000000 !important; font-size: 14px; float: left !important; font-weight: bold; margin-bottom: 4px; text-transform: uppercase; }
.Home .JobResults .job--meta .job--meta-contract-type { float: left; font-family: "NeoSansRegular", Arial, Helvetica; color: #808080; font-size: 14px; }
.Home .JobResults .job--meta li { /*outline:1px solid #ff0000;*/
font-weight: normal; float: right; font-family: "NeoSansRegular", Arial, Helvetica; color: #5eb6e4; font-size: 14px; }
.Home .JobResults .job--meta .job-meta-Category-type { float: left; font-family: "NeoSansRegular", Arial, Helvetica; color: #808080; font-size: 14px; margin-left: 3px; }
.Home .JobResults .job--meta .job--meta-contract-type:after { content: " •  " !important; }
.Home .JobResults .job-meta-reference, .Home .job--meta-salary { display: none !important; }
.Home .JobResults .pagination-container { display: none !important; }
.Home .JobResults .button-container #hypViewJob { float: left !important; color: #0096db !important; background-color: #fff; border: none; padding: 0px !important; margin-top: 20px !important; }
.Home .JobResults .button-container #hypViewJob:hover { text-decoration: underline !important;/*background-color: #0879af !important;*/
}
.Home #hypHeader:hover { text-decoration: underline !important; color: #000000; }
.Home .JobResults .button-container #hypViewJob:after { content: ">" !important; }
.Home .JobResults .single-job { background: none; border-bottom: 1px solid #c3c3c3; }
.Home .JobResults .single-job .top-spacing { font-family: "NeoSansRegular", Arial, Helvetica; color: #444444; font-size: 16px; line-height: 24px; }
.Home .JobResults .single-job .fa-map-marker { display: none; }
.Home .viewAllJobsbtn { background-color: #8bd3f5; font-family: "NeoSans-Medium", Arial, Helvetica; padding: 12px 20px; font-size: 16px; margin-left: -20px; color: #000000 !important; text-decoration: none !important; text-transform: uppercase; margin-bottom: 40px; display: inline-block; }
.Home .viewAllJobsbtn:hover { text-decoration: none !important; background-color: #0879af; }
.Home .viewAllJobsbtn:after { content: " >" !important; }
.Home .fourth-block { background-color: #fbe80f !important; min-height: 140px; }
.Home .fourth-block .yellow-block { text-align: center; }
.Home .hero-unit .tech-cloud-1 { background: #000001 url("http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/css/img/msp-lp/tech-cloud-1.png") no-repeat left top; width: 355px; height: 269px; float: left; display: inline-block; clear: both; }
.Home .fourth-block .yellow-block .Heading { text-align: center; font-family: "NeoSansRegular", Arial, Helvetica; color: #000000; font-size: 22px; line-height: 24px; margin-top: 48px; margin-bottom: 26px; }

.Home .fourth-block .container .yellow-block .go-now-button { display: inline-block; padding: 8px 20px 4px; background: #000000; width: 150px; color: #ffffff !important; font-family: "NeoSans-Medium", Arial, Helvetica; text-decoration: none !important; text-transform: uppercase; font-size: 16px; line-height: 24px; margin-bottom: 40px; }

.Home .fourth-block .container .yellow-block .go-now-button {display: inline-block;    padding: 8px 20px 4px !important;    background: #000000;    width: 150px;    color: #ffffff !important;   font-family: "NeoSansMedium", Arial, Helvetica;    text-decoration: none !important;    text-transform: uppercase;    font-size: 16px;    line-height: 24px;    margin-bottom: 40px; }

.Home .fourth-block .container .yellow-block .go-now-button:after { content: " >" !important; }
.Home .fourth-block .container .yellow-block .go-now-button:hover { background-color: #444444; }
.Home .second-block .container h3 { width: 395px; font-size: 24px; text-transform: uppercase; text-align: left; margin-left: 50px; line-height: 30px; font-family: "NeoSansRegular", Arial, Helvetica; margin-top: 0px; padding-top: 0px; display: inline-block; }
.Home .second-block .copy-neosans-reg16 { background: none repeat scroll 0% 0% transparent; color: #ffffff; font-family: "NeoSansRegular", Arial, Helvetica; font-size: 14px; line-height: 20px; margin-left: auto; margin-right: auto; width: 511px; margin-left: 400px; }
.Home .third-row #FooterImg { display: inline-block; text-align: center; width: 100%; margin-top: 20px; background: none !important; }
/**/
.Home .inner-send-us-your-resume, .Home .inner-tech-talent-is-everywhere, .Home .inner-2015-salary-guide { text-align: center; padding: 0px 10px 0px; text-decoration: none !important; }
.Home .inner-send-us-your-resume a, .Home .inner-tech-talent-is-everywhere a, .Home .inner-2015-salary-guide a { text-decoration: none !important; }
.Home .inner-send-us-your-resume a:hover, .Home .inner-tech-talent-is-everywhere a:hover, .Home .inner-2015-salary-guide a:hover { /*   text-decoration:underline !important;*/
color: #000000; }
.Home .inner-send-us-your-resume p, .Home .inner-tech-talent-is-everywhere p, .Home .inner-2015-salary-guide p { color: #000000; font-family: "NeoSansRegular", Arial, Helvetica; font-size: 15px; text-decoration: none; }
.Home .inner-send-us-your-resume h3, .Home .inner-tech-talent-is-everywhere h3, .Home .inner-2015-salary-guide h3 { text-transform: uppercase; color: #000000; margin-top: 0px; }
.Home .inner-send-us-your-resume .icon-send-us-your-resume { background-image: url("http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/USA/media/sprite-home-3-2015.png"); background-position: 0px 0px; display: inline-block; width: 70px; height: 100px; zoom: 1; }
.Home .inner-tech-talent-is-everywhere .icon-tech-talent-is-everywhere { background-image: url("http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/USA/media/sprite-home-3-2015.png"); background-position: 0px 100px; display: inline-block; width: 70px; height: 100px; zoom: 1; }
.Home .inner-2015-salary-guide .icon-2015-salary-guide { background-image: url("http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/USA/media/sprite-home-3-2015.png"); background-position: 0px 200px; display: inline-block; width: 70px; height: 100px; zoom: 1; }
.Home .second-block { padding-top: 44px; padding-bottom: 28px; margin-top: 60px; margin-bottom: 70px; }
.Home .hero-unit { background-color: #000000; }
.Home .one-column .container.second-row { padding-left: 0px; padding-right: 0px; width: 100%; margin-right: 0px; margin-left: 0px; }
.Home #HomeContentSubBody { height: auto; margin-top: 20px; }
.Home #jobResponse { width: 988px; margin: 0 auto; }
/*New Home Carousel*/
.Home .search, .Home .search { background-color: #000000; border: 1px solid #ffffff; }
.Home #submitResume-HM a, .Home #submitResume-HM a { text-decoration: none; }
.Home #submitResume-HM h2, .Home #submitResume-HM h2 { background: url("/~/media/adeccogroup/brands/modis%20brand/assets/css/img/home-heading-divider.png") no-repeat scroll left bottom transparent; color: #ffffff; font-family: "NeoSansRegular", Arial, Helvetica; font-size: 16px; margin-bottom: 12px; margin-top: 0px; padding-bottom: 12px; white-space: nowrap; }
.Home #submitResume-HM .ResumeTop, .Home #submitResume-HM .ResumeTop { height: 16px; width: 100%; }
.Home #submitResume-HM .ResumeTop img, .Home #submitResume-HM .ResumeTop img { float: left; height: 16px; width: 100%; }
.Home #submitResume-HM .ResumeBottom, .Home #submitResume-HM .ResumeBottom { height: 20px; width: 100%; }
.Home #submitResume-HM .ResumeBottom img, .Home #submitResume-HM .ResumeBottom img { float: left; height: 20px; width: 100%; }
.Home #submitResume-HM .ResumeContent, .Home #submitResume-HM .ResumeContent { border-left: 1px solid #6d6d6d; border-right: 1px solid #6d6d6d; padding: 0px 7.54717%; text-align: left; }
.Home #submitResume-HM .ResumeContent p, .Home #submitResume-HM .ResumeContent p { color: #b2b2b2; font-family: "NeoSansMedium", Arial, Helvetica; font-size: 12px; line-height: 16px; }
.Home #submitResume-HM .ResumeContent .resume-link, .Home #submitResume-HM .ResumeContent .resume-link { color: #8cd2f4; display: inline-block; font-family: "NeoSansMedium", Arial, Helvetica; font-size: 12px; line-height: 12px; padding-top: 18px; text-transform: uppercase; }
.Home .col-content #mainContent, .Home .col-content #mainContent { margin-top: 0px; }
.Home, .Home { background-color: black; }
.JobResults .job-wide .panel-header label { margin-top: 10px; float: left; }
/*auto-complete styling*/
.Home .auto-complete { background-clip: padding-box; background-color: white; border-radius: 0px; border: 1px solid rgba(0, 0, 0, 0.15); box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); font-size: 14px; left: 0px; list-style: none outside none; margin: 2px 0px 0px; min-width: 160px; padding: 5px 0px;}
.Home .auto-complete li {padding: 3px 20px !important; }
.Home .auto-complete li:hover {padding: 3px 20px !important; white-space: nowrap !important; font-weight: bold; background-color: #0096db !important; color: #ffffff !important; }
.Home .auto-complete li:active {padding: 3px 20px !important; white-space: nowrap !important; font-weight: bold; background-color: #0096db !important; color: #ffffff !important; }
.Home .auto-complete li:focus {padding: 3px 20px !important;  white-space: nowrap !important; font-weight: bold; background-color: #0096db !important; color: #ffffff !important; }


/*@-moz-document url-prefix() {
 .Home #HomeContentSubBody, .Home #HomeContentSubBody {
 margin-top: -20px;
}
}*/
.Home .HomeTouts, .Home .HomeTouts { border-right: 1px solid #757577; float: left; min-height: 144px; padding: 8px 2.11526%; width: 33%; }
.Home .job-search-container, .Home .job-search-container { color: #000000; }
.Home .site-header-inner { /*border-bottom: 2px solid #545454;*/
margin-bottom: 14px !important; border: none !important; }
.Home #mobileHeaderBan { display: none; }
.Home #carousel-container { /*margin-top: 70px;*/ margin-top: 50px; padding-bottom: 14px; }
.Home #carousel-container:after { }
.Home #carousel-container:before { }
/******carousel*****/
.Home .carousel-wrap { overflow: hidden; width: 100%; height: 519px; }
.Home .carousel-wrap-container { width: 90.81419%; position: relative; margin: 0 auto; } /* 870/988 - 30px padding (958) */
.Home .carousel-wrap-inner { width: 344.82758%; margin-left: -73.56321%; } /* 3000/870 */
.Home .car-item { display: inline-block; float: left; width: 23.666666%; /*height:509px;*/ margin-right: 0.333333%; -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); box-shadow: 2px 2px 10px rgba(0,0,0,0.16); } /* 710/3000 */
.Home .carousel-wrap-list { margin-left: 0; padding-left: 0; }
.Home .carousel-wrap-list li { list-style-type: none; padding-left: 0; position: relative; }
/*.Home #carItem-1 {background:url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/slide-get-our-2015-salary-guide.png') no-repeat 0 0;}
.Home #carItem-2 {background:url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/slide-where-is-the-tech-industry-growing.jpg') no-repeat 0 0;}
.Home #carItem-3 {background:url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/slide-connect-with-cybersecurity-best-practices.png') no-repeat 0 0;}
.Home #carItem-4 {background:url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/slide-the-biggest-cyber-security-threats-to-your-business.jpg') no-repeat 0 0;}*/


/*prev/next btns*/
.Home .car-btn { width: 8.04597%; height: 500px; display: inline-block; background-color: transparent; position: absolute; /*top:16px;*/ top: 0; z-index: 9; cursor: pointer; } /* 70/870 */
.Home .car-btn span { width: 30px; height: 44px; background-color: #fbe80f; display: block; position: absolute; top: 228px; z-index: 15; -moz-box-shadow: 2px 2px 11px rgba(0,0,0,0.16); -webkit-box-shadow: 2px 2px 11px rgba(0,0,0,0.16); box-shadow: 2px 2px 11px rgba(0,0,0,0.16); }
.Home .car-btn span:hover { background-color: #fff471; }
.Home .car-btn .car-carrot { position: relative; }

/**/
.Home .car-btn .wrap-car { width: 30px; height: 44px; background-color: #fbe80f; display: block; position: absolute; top: 228px; z-index: 15; -moz-box-shadow: 2px 2px 11px rgba(0,0,0,0.16); -webkit-box-shadow: 2px 2px 11px rgba(0,0,0,0.16); box-shadow: 2px 2px 11px rgba(0,0,0,0.16); }
.Home .car-btn .wrap-car:hover { background-color: #fff471; }
.Home .car-btn .car-carrot { position: relative; }

/**/
.Home .car-next-btn { right: 0; z-index: 5;}
.Home .car-prev-btn { left: 0;  z-index: 5;}
.Home .car-next-btn .car-carrot:before { content: ''; position: absolute; top: 12px; left: 11px; border-left: 9px solid #020202; border-top: 9px solid transparent; border-bottom: 9px solid transparent; }
.Home .car-next-btn .car-carrot:after { content: ''; position: absolute; left: 11px; top: 15px; border-left: 6px solid #fbe80f; border-top: 6px solid transparent; border-bottom: 6px solid transparent; }
.Home .car-prev-btn .car-carrot:before { content: ''; position: absolute; top: 12px; left: 11px; border-right: 9px solid #020202; border-top: 9px solid transparent; border-bottom: 9px solid transparent; }
.Home .car-prev-btn .car-carrot:after { content: ''; position: absolute; left: 14px; top: 15px; border-right: 6px solid #fbe80f; border-top: 6px solid transparent; border-bottom: 6px solid transparent; }
.Home .car-next-btn span { right: -14px; }
.Home .car-prev-btn span { left: -14px; }

.Home .car-next-btn .wrap-car { right: -14px; }
.Home .car-prev-btn .wrap-car { left: -14px; }

.Home .car-dots .car-dot-item {background: url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/thumbs/circles.jpg') no-repeat 0 0;    display: inline-block;    width: 12px;    height: 12px;    float: left;    margin: 0 4px;}

/*carousel - dots*/
.Home .car-dots {/*width:10.34482%;*/ width: 90px; margin: 8px auto 0; } /* 90/870 */
.Home .car-dots span { background: url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/thumbs/circles.jpg') no-repeat 0 0; display: inline-block; width: 12px; height: 12px; float: left; margin: 0 4px; }
.Home .car-dots span.carActive { background-position: 0 -12px; }

.Home .car-dots 0car-dot-item { background: url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/thumbs/circles.jpg') no-repeat 0 0; display: inline-block; width: 12px; height: 12px; float: left; margin: 0 4px; }
.Home .car-dots .car-dot-item.carActive { background-position: 0 -12px; }

/*thumb nav*/
.Home .carNav { width: 47.12643%; background: url('http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/usa/media/home-2015/slides/thumbs/thumb-bg.png'); padding: 10px; position: absolute; top: 370px; left: 25%; } /* 410/870 */
.Home #mainContent .carNav a { display: inline-block; float: left; cursor: pointer; width: 25%; padding: 0 2%; position: relative; min-height: 25px; text-decoration: none;     z-index: 6;}
.Home .carNav a.carActive { cursor: default; }
/*.Home .carNav a.carActive .carNavInner {background:#fff; padding:20px 15px; position:absolute; top:-15px; left:-1px; right:-1px; -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); box-shadow: 2px 2px 10px rgba(0,0,0,0.16); display:inline-block;}*/
.Home .carNav a.carActive .carNavInner { background: #fff; padding: 20px 13px; position: absolute; top: -15px; left: -1px; right: -1px; -moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); -webkit-box-shadow: 2px 2px 10px rgba(0,0,0,0.16); box-shadow: 2px 2px 10px rgba(0,0,0,0.16); display: inline-block; }
.Home .carNav a p { text-align: center; font-size: 12px; color: #000; margin: 5px 0 0; font-family: "NeoSansRegular"; }
/*inner CTA boxes*/
.Home .bk-car, .Home .bl-car { width: 37.46478%; /*margin:40px 0 0 40px;*/ position: absolute; left: 40px; top: 40px; } /* 266/710 */
.Home #carItem-1 .bk-car { top: 50px; }
.Home #carItem-3 .bl-car { top: 36px; }
.Home #carItem-4 .bk-car { left: 40px; top: 30px; }
.Home .bk-car { background: #000; }
.Home .bl-car { background: #8fcae7; }
.Home .bk-car h2 { color: #ffe512; font-size: 24px; line-height: 29px; font-family: "NeoSansRegular"; margin-top: 0; text-transform: uppercase; }
.Home .bl-car h2 { color: #fff; font-size: 24px; line-height: 29px; font-family: "NeoSansRegular"; margin-top: 0; text-transform: uppercase; }
.Home .bk-car p { color: #fff; font-size: 16px; line-height: 18px; padding-bottom: 10px; font-family: "NeoSansRegular"; }
.Home .bl-car p { color: #000; font-size: 16px; line-height: 18px; padding-bottom: 10px; font-family: "NeoSansRegular"; }
.Home .car-inner { padding: 22px; }
.Home #mainContent .car-inner a { display: block; color: #000; font-size: 13px; line-height: 13px; padding: 3px 12px; font-family: "NeoSansMedium"; text-decoration: none; text-transform: uppercase; }
.Home #mainContent .car-inner a:after { content: " >" !important; color: #000 !important; font-size: 13px; line-height: 26px; font-family: "NeoSans-Medium"; }
.Home .blue-car-btn:hover { background: #2f93cf; }

.Home .yellow-car-btn { background-color: #ffe512;    display: block;    color: #000;    font-size: 13px;    padding: 3px 12px;    font-family: "NeoSansMedium";    text-decoration: none;    text-transform: uppercase;    line-height: 22px;}

.Home .car-btnLinkWrap {    z-index: 1;}

.Home .blue-car-btn { background-color: #8bd3f5; }
.Home .blue-car-btn { display: block; color: #000; font-size: 13px; line-height: 13px; padding: 3px 12px; font-family: "NeoSansMedium"; text-decoration: none; text-transform: uppercase; line-height: 22px;}
.Home .blue-car-btn:after { content: " >" !important; color: #000000 !important; font-family: "NeoSans-Medium", Arial, Helvetica; font-size: 13px;}
.Home .yellow-car-btn:after { content: " >" !important; color: #000000 !important; font-family: "NeoSans-Medium", Arial, Helvetica; font-size: 13px;}

/* line-height: 26px;*/

.Home .blue-car-btn:hover { background: #2f93cf; }
.Home .yellow-car-btn:hover { background-color: #0879af; }
.Home .site-header-controls .brand-logo { display: block; }
.Home #mobileHeaderBan .mobile-logo { display: none; }
 @media (max-width: 991px) {
/*carousel*/
.Home .carousel-wrap-container { width: 100%; }
.Home #carousel-container { padding-right: 0; }
.Home .carousel-wrap-list li { background-size: contain !important; }
.Home .carousel-wrap { height: auto; }
.Home .car-btn { height: 440px; }
.Home .car-btn span { top: 180px; }
.Home .bk-car, .bl-car { top: 20px; left: 20px; }
.Home .car-inner { padding: 10px; }
.Home .carNav { width: 60%; top: 300px; padding: 8px; }
.Home .carNav a.carActive .carNavInner { padding: 15px 10px; }
.Home #mainContent .car-inner a { font-size: 12px; padding: 12px 14px 10px 14px; }
}

 /* All Mobile Sizes (devices and browser) */
 @media (max-width: 767px) {
.Home .carousel-wrap-container {width: 100%;    padding-right: 15px;    padding-left: 15px;}
.Home .car-btn .wrap-car { display: none; }

.Home  a.car-btnLinkWrap {text-decoration: none !important;}		 
.Home #mobileHeaderBan .mobile-logo { display: block !important; }
.Home .site-header-controls .brand-logo { display: none; }
/*carousel*/
.Home .carousel-wrap-list li img, .Home .car-btn span, .carNav { display: none; }
.Home #carousel-container { padding-left: 0; }
.Home .bk-car, .Home .bl-car { position: relative; top: 0; left: 0; width: 100%; min-height: 264px; -webkit-box-shadow: inset 7px 0px 0px 0px rgba(255,255,255,1); -moz-box-shadow: inset 7px 0px 0px 0px rgba(255,255,255,1); box-shadow: inset 7px 0px 0px 0px rgba(255,255,255,1); -webkit-box-shadow: inset -7px 0px 0px 0px rgba(255,255,255,1); -moz-box-shadow: inset -7px 0px 0px 0px rgba(255,255,255,1); box-shadow: inset -7px 0px 0px 0px rgba(255,255,255,1); }
.Home .car-item { -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; }
.Home #mainContent .car-inner a { display: inline-block; margin-top: 25px; font-size: 13px; padding: 3px 14px; position: absolute !important; bottom: 24px; left: 22px; right: 30px; }
.Home #mainContent .Home .car-inner a:after { content: " >" !important; color: #000000 !important; font-family: "NeoSans-Medium", Arial, Helvetica; font-size: 13px;/* line-height: 26px;
    display: inline-block;
float: right;*/
}
.Home #mainContent .car-inner .blue-car-btn:after { content: " >" !important; color: #000000 !important; font-family: "NeoSans-Medium", Arial, Helvetica; font-size: 13px;/* line-height: 26px;
    display: inline-block;
float: right;*/
}
.Home .bk-car p { font-family: "NeoSansRegular", Arial, Helvetica; font-size: 16px; line-height: 22px; }
.Home .car-btn { height: 275px; }
.Home .car-inner { padding: 22px; }
/*.Home .car-inner {padding:15px 22px;}*/
.Home #carousel-container { margin-top: 30px; margin-bottom: 20px; }
/*weird header fix - MC */
.Home #site-header .site-header-inner .container { height: auto !important; }
.Home .job-search-keyword, .Home .job-search-location { width: 98% !important; float: left !important; margin: 0px !important; margin-bottom: 10px !important; }
.Home .job-search-search-btn { width: 98% !important; margin: 0px !important; }
.Home .home-2015-TitleH1 { font-size: 22px !important; color: #000; font-family: "NeoSansRegular", sans-serif; margin: 0px 14px 20px; line-height: 26px; }
.Home .home-2015-TitleH1 br { display: inherit !important; }
.Home .home-2015-SubTitleH2 br { display: inherit !important; }
.Home .home-threeBlock { width: 100% !important; margin-bottom: 10px !important; }
.Home .site-header-inner .container { position: relative !important; }
.Home .hero-unit .tech-cloud-1 { display: none !important; }
.Home .second-block .container h3 { width: 98%; margin: 0px; text-align: center; margin-bottom: 22px; }
.Home .second-block .copy-neosans-reg16 { width: 98%; margin-left: 0px; text-align: center; margin-bottom: 42px; font-size: 16px; }
.Home .home-2015-SubTitleH2 { width: 98%; margin-left: 0px; font-size: 22px; margin-bottom: 25px; text-align: center; line-height: 30px; }
.Home #jobResponse { width: 97%; margin: 0 auto; }

/*.Home .JobResults {padding-left: 15px; padding-right: 15px;}
.Home .JobResults .job-wide .panel-body {padding-left: 15px; padding-right: 15px;}*/

.Home .JobResults .button-container #hypViewJob { width: 100%; font-size: 18px; background: #0096db; display: block; margin-right: 0px !important; color: #ffffff !important; line-height: 38px !important; }
.Home .single-job .button-container {margin-left: 0px; margin-right: 0px; }
.Home .panel:after, .Home .scfForm:after, .Home .job-search-container:after { border-bottom-width: 0px !important; border-left: 0px !important; }
.Home .btnLearnMore { width: 100% !important; margin: 0px; text-align: center; }
.Home .viewAllJobsbtn { width: 100% !important; margin: 0px !important; margin-bottom: 30px !important; text-align: center; }
.Home .border-con { display: none !important; }
.Home .single-job h2 { display: inline-block !important; width: 84% !important; margin-top: -6px !important; }
.Home .inner-send-us-your-resume .icon-send-us-your-resume { display: none !important; }
.Home .inner-tech-talent-is-everywhere .icon-tech-talent-is-everywhere { display: none !important; }
.Home .inner-2015-salary-guide .icon-2015-salary-guide { display: none !important; }
.Home .topLeftcaret { display: none !important; }
.Home .bottomRightcaret { display: none !important; }
.Home .home-threeBlockButton { position: relative !important; left: auto; bottom: auto; right: auto; width: 72%; }
.Home .inner { height: auto !important; padding: 15px 20px; }
.Home #HomeContentSubBody { margin-bottom: 20px; }
.Home .inner-send-us-your-resume h3, .Home .inner-tech-talent-is-everywhere h3, .Home .inner-2015-salary-guide h3 { margin-bottom: 6px; }
.Home .second-block { margin-top: 0px; padding-left: 10px; padding-right: 10px; margin-bottom: 30px; padding-top: 28px; }
.Home .JobResults .job-meta-reference { display: inline-block; }
.Home .top-spacing { display: inline-block; width: 100% !important; }
.Home .JobResults .button-container #hypViewJob:hover { background-color: #0879af !important; }
.Home .fourth-block {/*padding: 0px 60px;   */ padding: 0px 28px; margin-left: 15px; margin-right: 15px; margin-bottom: 20px; }
.Home .fourth-block .yellow-block .Heading { line-height: 28px; font-size: 18px; margin-top: 18px; }
.Home #site-header .container:nth-child(2n) { padding-right: 15px !important; padding-left: 15px !important; margin-right: auto !important; margin-left: auto !important; display: inline-block; }
.Home #utlSearch { display: none; }
.Home .open-menu { position: fixed !important; /*  right: 15px !important;*/
right: 20px !important; }
.Home .ico-show-menu { background: url("http://www.modis.com/~/media/adeccogroup/brands/modis%20brand/assets/css/img/ico-se64e019f3f.png") no-repeat scroll 0% 0% transparent !important; background-position: 0px -57px !important; height: 21px !important; width: 24px !important; }
/*.Home .brand-logo {
  position: fixed;
}*/
.Home #ModisUniverseBar + .container { padding-right: 15px !important; padding-left: 15px !important; margin-right: auto !important; margin-left: auto !important; display: inline-block; }
.Home #mobileHeaderBan { position: fixed; background-color: #000; display: inline-block; min-height: 54px; width: 100%; z-index: 500; padding-left: 15px; margin-left: -15px; border-bottom: 3px solid #545454; }
.Home .HomeTitleH1 { font-size: 27px !important; margin-bottom: 8px !important; }
.Home .site-header-controls .job-search-container { margin-bottom: 8px; }
.Home #txtlocation, .Home #txtkeyword { padding: 0px 0px 0px 16px; }
.Home .bk-car h2 { text-transform: uppercase; }
.Home .homeH1-subWrap { width: 98% !important; margin-top: 78px !important; }
.Home .subHeadline { font-size: 15px !important; }
.Home .job-search-container .btn-search { font-family: "NeoSans-Medium", Arial, Helvetica; padding-right: 0px; }
.Home .job-search-container .btn-search:after { content: " >" !important; color: #000000 !important; font-size: 18px !important; line-height: 34px; float: none; position: initial; width: initial; height: initial; }
.Home .fourth-block .container .yellow-block .go-now-button { margin-bottom: 18px; }

} /*End of @media (max-width: 767px) - All Mobile Sizes (devices and browser) */
 @media (max-width: 480px) {
/*carousel*/
.Home .bk-car, .Home .bl-car { position: relative; top: 0 !important; left: 0 !important; width: 100%; /*min-height: 265px;*/ min-height: 264px; }
}
@media (min-width: 992px) {
  .Home .home-2015-SubTitleH2Contain {width: 988px; padding-left: 0px;}

}